.post-text-area {
    --placeholder-font-weight: bold !important;
    --placeholder-font-size: 2em !important;
    background: var(--ion-color-light-tint) !important;
    height: 44vh;
    padding-top: 7vh;
    padding-bottom: 7vh;
    padding-left: 5px;
    padding-right: 5px;
}