<ion-content   snInViewport
(inViewportChange)="userViewChange($event)">
  <!-- <ion-header>
    <ion-row class="ion-no-padding ">
      <ion-col size="12" class="ion-no-padding ion-padding-start ion-padding-end">
        <ion-item lines="none" class="ion-no-padding">
          <ion-row>
            <ion-col>
              <ion-item lines="none" class="fs-12 poppins-bold ion-no-padding ion-text-nowrap">
                <ion-icon class="fs-14" name="chevron-back-outline"></ion-icon>&nbsp;&nbsp; Feed 
               
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-label class="poppins-bold fs-12" style="margin-top: 10px;">Welcome, &nbsp; </ion-label>
            <ion-note class="poppins fs-12" style="margin-top: 10px;">
              Alfred
            </ion-note>
          </ion-row>
          <ion-icon slot="end" name="reorder-three-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-header> -->
  <ion-tabs name="bottom">
    <ion-tab-bar slot="bottom" style="contain: none;">

      <!-- <ion-tab-button tab="my-schools" *ngIf="isAuthenticated()">
        <ion-icon name="school-outline" size="small"></ion-icon>
      </ion-tab-button> -->

      <ion-tab-button tab="schools-location">
        <ion-icon name="location-outline" size="medium"></ion-icon>
        <!-- <svg class="custom-icons"><use xlink:href="../../../assets/svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use></svg> -->
        

      </ion-tab-button>


      <ion-tab-button tab="schools-search">
        <ion-icon name="search-outline" size="medium"></ion-icon>
        <!-- <svg class="custom-icons"><use xlink:href="../../../assets/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg> -->
      </ion-tab-button>

      <ion-tab-button tab="home" style="margin-top: -35px; height:15vh; background: transparent;">
        <ion-fab horizontal="center" vertical="center" class="home_tab" >
          <ion-fab-button color="primary">
            <ion-icon name="home-outline"></ion-icon>
            <!-- <svg class="custom-icons active"><use xlink:href="../../../assets/svg-icons/sprites/icons.svg#olymp-home-icon"></use></svg> -->
          </ion-fab-button>
        </ion-fab>
        <!-- <ion-icon src="home" size="large"></ion-icon> -->
        <!-- <ion-badge color="danger">6</ion-badge> -->
      </ion-tab-button>

      <!-- <ion-tab-button tab="profile" *ngIf="isAuthenticated()">
        <ion-icon name="person-outline" size="small"></ion-icon>
      </ion-tab-button> -->

      <ion-tab-button tab="users-search">
        <ion-icon name="people-outline" size="medium"></ion-icon>
        <!-- <svg class="custom-icons"><use xlink:href="../../../assets/svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use></svg> -->

      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-outline" size="medium"></ion-icon>
        <!-- <svg class="custom-icons"><use xlink:href="../../../assets/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg> -->
      </ion-tab-button>
      <!-- <ion-tab-button (click)="showLogs()">
        <ion-icon name="list-outline" size="small"></ion-icon>
      </ion-tab-button> -->
    </ion-tab-bar>
  </ion-tabs>
</ion-content>