  <ion-row class="top-row-header ion-no-padding " style="box-shadow: 0px 2px 4px -4px;" *ngIf="showHeader">
    <ion-col size="12" class="ion-no-padding">
      <ion-item lines="none" class="fs-12 poppins-bold ion-no-padding ion-text-nowrap">
        <ion-row class="ion-row" (click)="closeModal()">
          <ion-icon class="fs-25" [src]="'../../../assets/icon/round-arrow_back.svg'"></ion-icon>&nbsp;&nbsp;
          <!-- <ion-note class="poppins-medium fs-12" color="black " style="margin-top: 4px;">{{previousPage}}</ion-note> -->
        </ion-row>
        <!-- <ion-button slot="end" fill="outline" shape="round" color="danger"  size="small"
          style="--border-width: 0px;float: right;">
          <ion-icon name="close"></ion-icon>
        </ion-button> -->
      </ion-item>
    </ion-col>

  </ion-row>
  <!-- Top correction -->
  <ion-row class="ion-content-top_correction" *ngIf="showHeader">
  </ion-row>
  <!-- Top correction ends -->

  <app-my-photo-picker #myPhotoPicker *ngIf="mediaPage === 'photos'"></app-my-photo-picker>
  <app-my-video-picker #myVideoPicker *ngIf="mediaPage === 'videos'"></app-my-video-picker>
  <app-my-audio-picker #myAudioPicker *ngIf="mediaPage === 'audios'"></app-my-audio-picker>
  <!-- <app-audio-recorder *ngIf="mediaPage === 'audios'"> </app-audio-recorder> -->
  <ion-row size="12" class="text-center p-1 fint-line-under">
    <ion-col size="3" class=" ion-no-padding ion-no-margin">
      <ion-button size="small" fill="outline" style="--border-width:0px; --color:var(--ion-color-medium-shade)"
        (click)="takePhoto()">
        <!-- <ion-icon name="images-outline" size="small"></ion-icon> -->
        <svg class="custom-icons"><use xlink:href="../../../assets/svg-icons/sprites/icons.svg#olymp-multimedia-icon"></use></svg>
      </ion-button>
    </ion-col>
    <ion-col size="3" class=" ion-no-padding ion-no-margin">
      <ion-button size="small" fill="outline" style="--border-width:0px; --color:var(--ion-color-medium-shade)"
        (click)=" recordVideo()">
        <svg class="custom-icons"><use xlink:href="../../../assets/svg-icons/sprites/icons.svg#olymp-play-icon"></use></svg>
        <!-- <ion-icon name="film-outline" size="small"></ion-icon> -->
      </ion-button>
    </ion-col>
    <ion-col size="3" class=" ion-no-padding ion-no-margin">
      <ion-button size="small" fill="outline" style="--border-width:0px; --color:var(--ion-color-medium-shade)"
        (click)="recordAudio()">
        <svg class="custom-icons"><use xlink:href="../../../assets/svg-icons/sprites/icons.svg#olymp-headphones-icon"></use></svg>
        <!-- <ion-icon name="pulse-outline" size="small"></ion-icon> -->
      </ion-button>
    </ion-col>
    <ion-col size="3" class=" ion-no-padding ion-no-margin">
      <ion-button size="small" fill="outline" style="--border-width:0px; --color:var(--ion-color-medium-shade)"
        (click)="clear()" >
        <svg class="custom-icons"><use xlink:href="../../../assets/svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
        <!-- <ion-icon name="remove-circle-outline" color="danger" size="small"></ion-icon> -->
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-segment class="ion-no-padding ion-no-margin">
    <ion-item>
        <ion-col slot="start" size="9" class="ion-no-padding ion-no-margin">
          <ion-textarea class="fs-14" placeholder="What's on your mind?" rows="1" maxlength="2000" [(ngModel)]="message"></ion-textarea>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin ion-activatable ripple-parent" (click)="post()">
          <ion-button class=" ion-text-right fs-20 poppins-bold" size="small" style="--border-width:0px; float:right"
            fill="outline" shape="round" >
            <ion-icon  src="../../../assets/svg-icons/send_message.svg"></ion-icon>
            <!-- <ion-icon class="" name="send-outline" size="small"></ion-icon> -->
            <!-- Post -->
          </ion-button>
        </ion-col>
    </ion-item>
  </ion-segment>
