<ion-segment [(ngModel)]="galleryType" color="primary" class="pt-2">
  <ion-segment-button value="cloud">
    <ion-icon class="ion-no-margin" name="cloudy-outline" size="small"></ion-icon>
    <ion-row class="fs-10">M<span class="ion-text-lowercase">y videos</span></ion-row>
  </ion-segment-button>
  <ion-segment-button value="local">
    <ion-icon class="ion-no-margin" name="phone-portrait-outline" size="small"></ion-icon>
    <ion-row class="fs-10">D<span class="ion-text-lowercase">evice gallery</span></ion-row>
  </ion-segment-button>
</ion-segment>
<div [ngSwitch]="galleryType">
  <ion-grid *ngSwitchCase="'cloud'" id="cloud">
    <ion-row>
      <ion-col class="col-6 col-md-4 col-xl-3 px-1 mb-1" *ngFor="let image of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-row class="ion-no-padding ion-no-margin image-container " [style.background-color]="'ffffff5c'">
          <ion-img [src]="'https://via.placeholder.com/200'" style="height: 100%;
          background: #495057; position:absolute;width: 96%;">
          </ion-img>
          <ion-button fill="outline" shape="round" color="light" size="small" class="thumbnailPlay">
            <ion-icon name="play-outline"></ion-icon>
          </ion-button>
          <ion-button fill="outline" shape="round" color="danger" size="small" class="thumbnailClose">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngSwitchCase="'local'" id="device">
    <ion-row class="col-12 add-btn-row">
      <ion-col class="col-6 col-md-4 col-xl-3 ion-no-padding">
        <div class="" (click)="selectVideo()">
          <ion-icon name="folder-open-outline" size="small" class="add-btn"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="col-6 col-md-4 col-xl-3 ion-no-padding">
        <div class="" (click)="recordVideo()">
          <ion-icon name="videocam-outline" size="small" class="add-btn"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="image-container-row" *ngIf="deviceVideos?.length>0">
      <ion-col class="col-6 col-md-4 col-xl-3 px-1 mt-1" *ngFor="let vid of deviceVideos">
        <ion-row class="ion-no-padding ion-no-margin image-container " [style.background-color]="'ffffff5c'">
          <ion-img [src]="vid?.posterResolvedURL" style="height: 100%;
          background: #495057; position:absolute;width: 96%;">
          </ion-img>
          <ion-button fill="outline" shape="round" color="light" size="small" 
          (click)="previewVideo(vid)" class="thumbnailPlay">
            <ion-icon name="play-outline"></ion-icon>
          </ion-button>
          <ion-button fill="outline" shape="round" color="danger" size="small" 
          (click)="deleteFromDeviceVideos(vid)" class="thumbnailClose">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-button expand="block" class="mt-4 mx-2">
  Post &nbsp; <ion-icon name="arrow-forward"></ion-icon>
</ion-button> -->
</div>