<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-row slot="end" class="fs-12 poppins-bold ion-no-padding ion-text-nowrap">
      <ion-note class="fs-112 poppins-bold" color="dark"> Address </ion-note>&nbsp;&nbsp;
      <!-- <ion-icon color="dark" class="fs-14" name="cog-outline"></ion-icon>  -->
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="">
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select value="" interface="" [(ngModel)]="userAddress.country">
        <ion-select-option value="male" *ngFor="let country of [1,1,1,1,1,1,1,1,1]">Male</ion-select-option>
        <ion-select-option value="female"> {{ 'Country name' }} </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>State</ion-label>
      <ion-select value="" interface="popover" [(ngModel)]="userAddress.state">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item> City <ion-input slot="end" class="faded fs-14 text-right" [(ngModel)]="userAddress.city"></ion-input>
    </ion-item>
    <ion-item *ngIf="userAddress.city"> Suburb (Optional) <ion-input slot="end" class="faded fs-14 text-right"
        [(ngModel)]="userAddress.suburb"></ion-input>
    </ion-item>
    <ion-item *ngIf="userAddress.suburb"> Street (Optional) <ion-input slot="end" class="faded fs-14 text-right"
        [(ngModel)]="userAddress.street"></ion-input>
    </ion-item>
    <ion-item> Postal Code <ion-input slot="end" class="faded fs-14 text-right" [(ngModel)]="userAddress.postcode">
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" type="submit" (click)="updateUserInfo()">
    <ion-fab-button color="primary">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>