<ion-row class="ion-no-padding ion-padding-bottom">
    <ion-col size="12" class="ion-no-padding">
        <ion-item lines="none" class="ion-align-items-center">
            <ion-row slot="start" style="height:30px">
                <ion-avatar class="ion-padding-end" style="width: 45px;
                height: 30px;" (click)=" gotoProfile()">
                    <img [src]="postUserImage">
                </ion-avatar>
                <ion-note color="dark" class="poppins-semi-bold fs-14 " style=" margin-top: 5px">
                    {{postUser?.firstName}}
                </ion-note>
            </ion-row>
            <ion-label slot="end" class="fs-10 ion-text-right"> {{Post?.dateCreated | toEventTime}} </ion-label>
        </ion-item>
    </ion-col>

    <ion-col size="12" class="ion-no-padding">
        <ion-card class=" ion-align-items-center">
            <div style="height: 50vh;" *ngIf="objects?.length>0">
                <app-my-slider [slideObjects]="objects" [mediaType]="mediaType"></app-my-slider>
            </div>
            <ion-row class="ion-no-padding" style="margin-top: -105px;">
                <ion-item lines="none">
                    <ion-note slot="start" color="white" class="poppins-bold fs-12"
                        style="text-shadow: 0px 0px 3px black !important;color: white;" *ngIf="school">
                        @{{school?.name}}
                    </ion-note>
                </ion-item>
            </ion-row>
            <ion-card-content class="fs-12" style="
            z-index: 1;
            padding-top: 54px;
            padding-bottom: 0;
            padding-left: 1vw;
            padding-right: 1vw;">
                <ion-row class="ion-no-padding ion-no-margin fs-10 mb-2">
                    <!-- <ion-col size="6">
                        <ion-note class="w-100 fs-11    "> {{likes?.length}} likes </ion-note>
                    </ion-col>
                    <ion-col size="6">
                        <ion-note class="w-100 fs-11 text-right float-right"> {{totalComments}} comments </ion-note>
                    </ion-col> -->
                    <ion-item lines="none" class="ion-no-padding">
                        <ion-col size="4" slot="" class="fs-20 ion-no-padding ion-no-margin">
                            <app-like style="margin-left: 4vw;" [InitiatorId]="postUser?.id" [ReceiverId]="Post?.id" [ReceiverName]="'post'"
                                (reload)="getLikes()"></app-like>
                        </ion-col>
                        <ion-col size="4" class="fs-20 ion-no-padding ion-no-margin ion-text-center">
                            <ion-icon name="chatbubbles-outline" size="medium" (click)="comment()"></ion-icon>
                            <!-- <ion-badge id="chatbubbles-outline" class="fs-11" color="primary">11</ion-badge> -->
                        </ion-col>
                        <ion-col size="4" slot="" class="fs-20 ion-no-padding ion-no-margin ">
                            <ion-icon name="share-outline" size="medium" style="float:right;" (click)="share()"> </ion-icon>
                            <!-- <ion-badge id="share-outline" class="fs-11" color="primary">11</ion-badge> -->
                        </ion-col>
                    </ion-item>
                </ion-row>

                <ion-note class="fs-12" color="dark">
                    <ion-text>
                        {{Post?.message}}
                    </ion-text>
                </ion-note>
                <ion-row>
                    <ion-note class="fs-12 ion-no-padding ion-padding-top">
                        <ul class="tags ion-no-margin ion-no-padding ">
                            <li *ngFor="let tag of tags"> {{ "#" + tag }} </li>
                        </ul>
                    </ion-note>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-no-padding" size="12">
                        <hr style="background: #e8e9ed; margin-bottom:0;">
                    </ion-col>
                </ion-row>
                <ion-row style="height: 178px" [ngClass]="{'tempHeight': totalComments<1}">
                    <app-comments [showHeader]="false" [Post]="post" (totalComments)="TotalComments = $event">
                    </app-comments>
                </ion-row>



                <!-- <ion-row class="ion-no-padding">
                    <ion-item lines="none">
                        <ion-input placeholder="  Write a comment"></ion-input>
                        <ion-icon name="send-outline" (click)="send()"></ion-icon>
                    </ion-item>
                </ion-row> -->
            </ion-card-content>

        </ion-card>
    </ion-col>
</ion-row>

<app-my-share></app-my-share>