<ion-row class="ion-no-padding ion-padding-bottom">
    <ion-col size="12" class="ion-no-padding">
        <ion-item lines="none" class="ion-align-items-center">
            <ion-row slot="start" style="height:30px">
                <ion-avatar class="ion-padding-end" style="width: 45px;
                height: 30px;">
                    <img [src]="userImage">
                </ion-avatar>
                <ion-note color="dark" class="poppins-semi-bold fs-14 " style=" margin-top: 5px">
                    {{user.firstName}}
                </ion-note>
            </ion-row>
            <ion-label slot="end" class="fs-10 ion-text-right"> {{Post?.dateCreated | toEventTime}} </ion-label>
        </ion-item>
    </ion-col>

    <ion-col size="12" class="ion-no-padding">
        <ion-card class=" ion-align-items-center">
            <app-my-slider [slideObjects]="objects" [mediaType]="mediaType" ></app-my-slider>
            <ion-row class="ion-no-padding" style="margin-top: -105px;">
                <ion-item lines="none">
                    <ion-note slot="start" color="white" class="poppins-bold fs-12"
                        style="text-shadow: 0px 0px 3px black !important;color: white;" 
                        *ngIf="school">
                        @{{school?.name}}
                    </ion-note>
                </ion-item>
            </ion-row>
            <ion-card-content class="fs-12" style="z-index: 1; padding-top: 54px; padding-bottom: 0;">
                <ion-note class="fs-12" color="dark">
                    <p class="fs-12; mb-2" color="dark" >
                        <b> 3452 likes </b> &nbsp; <b> 300 comments </b>
                        <br>
                    </p>
                    <ion-text>
                        {{Post?.message}}
                    </ion-text>
                </ion-note>
                <ion-row>
                    <ion-note class="fs-12 ion-no-padding ion-padding-top">
                        <ul class="tags ion-no-margin ion-no-padding ">
                            <li *ngFor="let tag of tags"> {{ "#" + tag }} </li>
                        </ul>
                    </ion-note>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-no-padding" size="12">
                        <hr style="background: #e8e9ed;">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-no-padding">
                    <ion-item lines="none" class="ion-no-padding">
                        <ion-row slot="start" class="ion-align-items-start ion-text-start fs-25 ion-no-padding">
                            <ion-icon name="heart-outline"></ion-icon> &nbsp;&nbsp;
                            <ion-icon name="share-social-outline"></ion-icon>
                        </ion-row>
                        <ion-row slot="end" class="fs-25 ion-no-padding">
                            <ion-icon name="bookmark-outline" style="margin-right: -20px;"></ion-icon>
                        </ion-row>
                    </ion-item>
                </ion-row>
            </ion-card-content>

        </ion-card>
    </ion-col>
</ion-row>