
.avatar-group {
    .avatar-group-img {
        border-radius: 50% !important;
        width: 30px !important;
        height: 30px !important;
        border: solid white 2px;
        box-shadow: 0px -18px 0px -44px;
    }
    .avatar-count-icon{
        background: var(--ion-color-secondary);
        font-size: .7em;
        font-weight: bold;
        font-family: "poppins-bold";
        padding-right: 6px;
        padding-top: 5px;
    }
}

.tags {
    padding: 0;
    list-style: none;
    
    li {
        display: inline;
    }
}


.info {
    margin-top: -40px;
}


.tempHeight{
    height: 57px !important;
}

 .share-outline{
    position: absolute;
    top: -1vw;
    font-size: 0.6em;
    --padding-start: 5px;
    --padding-end: 5px;
    float: left;
    margin-left: -8px;
 }
.chatbubbles-outline {
    position: absolute;
    top: -1vw;
    font-size: 0.6em;
    --padding-start: 5px;
    --padding-end: 5px;
    float: left;
    margin-left: -8px;
    font-weight: 200;
  }

//  ion-icon.comt.ios.icon-medium.hydrated {
//     margin-right: -15px;
// }

.item-native {
    padding-left: 0px !important;
}

.audio_container{
    height: 164px;
}

.other_container{
    height: 50vh;
}