<ion-content>
  <ion-row class="ion-padding tag">
    <ion-col size="12" class="ion-no-padding">
      <ion-item lines="none" class="fs-12 poppins-bold ion-no-padding ion-text-nowrap">
        <!-- <ion-row class="ion-row" (click)="goBack()" >
          <ion-icon class="fs-25" name="chevron-back-outline"></ion-icon>&nbsp;&nbsp;
        </ion-row> -->
        <ion-row slot="end">
          <span class="fs-14" (click)="edit()" *ngIf="user?.id === selectedUser?.id"> 
            <ion-icon name="create-outline"></ion-icon> Edit  
          </span>
        </ion-row>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row appWatchElement [elementId]="'profileMenu'" id="profileMenu" (isOut)="profileFixedMenu=$event">
    <ion-card class=" w-100" style="height: 250px;">
      <div class="backdrop h-100 w-100"></div>
      <ion-card-header id="userprofile-bg" [background-image]="identityPhoto?.cover?.fileUrl || '../../../assets/images/default_user_cover.svg'"
        class="card-header-bg ion-no-padding ion-padding-top">
        <ion-row style="z-index:4;">
          <ion-col class="ion-no-padding ion-no-margin" size="5"></ion-col>
          <ion-col class="ion-no-padding ion-no-margin" size="2" style="z-index: 4;">
            <ion-avatar>
              <img [src]="identityPhoto?.profile?.fileUrl">
            </ion-avatar>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin" size="5"></ion-col>
          <ion-col size="12" class="text-center" color="white" style="z-index: 4; color: white">
            <h5> {{ selectedUser?.firstName }} {{ selectedUser?.otherName}} {{ selectedUser?.lastName }} </h5>
            <small class="mx-auto w-50" *ngIf="highestDegreeEnrolled?.degree">
              {{highestDegreeEnrolled?.degree?.type}} {{highestDegreeEnrolled?.degree?.programme}}<br>
              @{{highestDegreeEnrolled?.school?.name}} 
            </small>
            
           
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </ion-row>
  <ion-row class="">
    <ion-card class="w-100 ion-padding-top ion-padding-bottom main">
      <ion-row class="ion-no-padding" style="height: 90px;" [ngClass]="{'fixed-profile-menu-atop': profileFixedMenu}">
        <ion-col size="12" class="ion-no-padding ion-no-margin" style="    
          margin-top: -16px;
          margin-bottom: 8px;
          padding-top: 6px;; background:var(--ion-color-medium-shade)">
          <ion-row>
            <ion-col size="3" class="text-center">
              <ion-note class="poppins-regular fs-13 min-menu">Profile</ion-note>
            </ion-col>
            <ion-col size="3" class="text-center">
              <ion-note class="poppins-regular fs-13 min-menu">Edit</ion-note>
            </ion-col>
            <ion-col size="3" class="text-center">
              <ion-note class="poppins-regular fs-13 min-menu">Media</ion-note>
            </ion-col>
            <ion-col size="3" class="text-center">
              <ion-note class="poppins-regular fs-13 min-menu">Timeline</ion-note>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-row class="ion-no-padding ion-no-margin w-100" *ngIf="!profileFixedMenu" >
          <ion-col size="4" class="ion-align-items-center ion-text-center ion-no-padding separator-vertical">
            <ion-note color="dark" class="poppins-bold fs-16" (click)="currentSegment='posts'">Posts</ion-note><br>
            <ion-note class="poppins-regular fs-12" (click)="currentSegment='posts'">{{totalPost}}</ion-note>

            <ion-col class="ion-no-padding" size="12">
              <hr style="background: #e8e9ed; margin-top: 5px;" width="70%" *ngIf="currentSegment=='posts'">
            </ion-col>
          </ion-col>

          <ion-col size="4" class="ion-align-items-center ion-text-center ion-no-padding">
            <ion-note color="dark" class="poppins-bold fs-16" (click)="currentSegment='schools'">Schools</ion-note><br>
            <ion-note class="poppins-regular fs-12" (click)="currentSegment='schools'">{{selectedUserSchools?.length}}
            </ion-note>

            <ion-col class="ion-no-padding" size="12" *ngIf="currentSegment=='schools'">
              <hr style="background: #e8e9ed; margin-top: 5px;" width="70%">
            </ion-col>
          </ion-col>

          <ion-col size="4" class="ion-align-items-center ion-text-center ion-no-padding separator-vertical">
            <ion-note color="dark" class="poppins-bold fs-16" (click)="currentSegment='following'">Following</ion-note>
            <br>
            <ion-note class="poppins-regular fs-12" (click)="currentSegment='following'">
              {{selectedUserFollowedSchools?.length}}</ion-note>

            <ion-col class="ion-no-padding" size="12" *ngIf="currentSegment=='following'">
              <hr style="background: #e8e9ed; margin-top: 5px;" width="70%">
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-row>

      <ion-row>
        <ion-col size="{{user?.id !== selectedUser?.id ? 12: 8}}" *ngIf="user?.id !== selectedUser?.id">
          <app-follow [LeaderId]="selectedUser?.id" [FollowerId]="user?.id" [color]="'primary'" [modelName]="'user'"
            (reload)="countFollowers(true)"></app-follow>
        </ion-col>

        <!-- <ion-col *ngIf="user?.id === selectedUser?.id" size="{{user?.id === selectedUser?.id ? 12: 4}}">
          <ion-button size="small" expand="block" class="mx-3" (click)="edit()">
            <ion-icon name="create-outline"></ion-icon>  Edit
          </ion-button>
        </ion-col> -->
      </ion-row>

      <ion-row class="ion-no-padding ion-no-margin" *ngIf="currentSegment=='posts'">
        <ion-col size="12" class="ion-no-padding">
          <ng-template ngFor let-post [ngForOf]="selectedUserPosts">
            <app-post-widget1 [Post]="post"></app-post-widget1>
          </ng-template>

          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMorePosts($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading ...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding" *ngIf="currentSegment=='schools'">
        <ng-template ngFor let-school [ngForOf]="selectedUserSchools">
          <app-school-card [School]="school"></app-school-card>
        </ng-template>
      </ion-row>

      <ion-row class="ion-padding school-image-tiles w-100" *ngIf="currentSegment=='following'">
        <ion-col size="12" class="ion-no-padding">
          <ng-template ngFor let-school [ngForOf]="selectedUserFollowedSchools">
            <app-school-card [School]="school"></app-school-card>
          </ng-template>

          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreFollowedUsers($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="searching ...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-row>

</ion-content>