<ion-segment [(ngModel)]="galleryType" color="primary" class="pt-2">
  <ion-segment-button value="cloud">
    <ion-icon class="ion-no-margin" name="cloudy-outline" size="small"></ion-icon>
    <ion-row class="fs-10">M<span class="ion-text-lowercase">y recordings</span></ion-row>
  </ion-segment-button>
  <ion-segment-button value="local">
    <ion-icon class="ion-no-margin" name="phone-portrait-outline" size="small"></ion-icon>
    <ion-row class="fs-10">D<span class="ion-text-lowercase">evice gallery</span></ion-row>
  </ion-segment-button>
</ion-segment>

<div [ngSwitch]="galleryType">
  <div *ngSwitchCase="'cloud'" id="cloud">
    <ion-row class=" ion-no-padding ion-no-margin" *ngIf="cloudAudios?.length>0">
      <ion-col class="col-12 col-sm-4 col-md-4 col-xl-3 px-1 audio_bg" *ngFor="let aud of cloudAudios">
        <!-- <div class="image-container" [style.background-image]="'url(https://via.placeholder.com/200)'">
          <ion-button fill="outline" shape="round" color="danger" (click)="deleteFromCloudPhotos(image)" size="small"
            style="--border-width: 0px;float: right;background:#ffffff5c;">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div> -->
        <app-audio-thumbnail [thumb]='aud' (delete)="deleteFromCloudAudios(aud)"
          (isSelected)="selectFromCloudAudios($event)" [location]="'cloud'"> </app-audio-thumbnail>
      </ion-col>
    </ion-row>

    <ion-col class="col-12 col-sm-4 col-md-4 col-xl-3 px-1 audio_bg" *ngIf="cloudAudios?.length<=0">
      <ion-img [src]="noAudioPhoto"></ion-img>
    </ion-col>
  </div>

  <ion-grid *ngSwitchCase="'local'" id="device">
    <ion-row class="col-12 add-btn-row pb-3">
      <ion-col class="col-6 col-md-4 col-xl-3 ion-no-padding">
        <div class="center-icons" (click)="selectAudio()">
          <ion-icon name="folder-open-outline" size="small" class="add-btn mt-5"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="col-6 col-md-4 col-xl-3 ion-no-padding">
        <div class="center-icons" (click)="recordAudio()">
          <ion-icon name="mic-outline" size="small" class="add-btn mt-5"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="image-container-row" *ngIf="cloudAudios?.length>0">
      <ion-col class="col-12 col-md-4 col-xl-3 px-1 mt-1" *ngFor="let aud of deviceAudios">
        <ion-list>
          <app-audio-thumbnail [thumb]='aud' (delete)="deleteFromCloudAudios(aud)" [location]="'local'">
          </app-audio-thumbnail>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-col class="col-12 col-sm-4 col-md-4 col-xl-3 px-1 audio_bg" *ngIf="deviceAudios?.length<=0">
      <ion-img class="pic_adj" [src]="noAudioPhoto"></ion-img>
    </ion-col>
  </ion-grid>
  <!-- <ion-button expand="block" class="mt-4 mx-2">
  Post &nbsp; <ion-icon name="arrow-forward"></ion-icon>
</ion-button> -->
</div>