.liked {
    color: var(--ion-color-primary);
}

// #heart-outline{
//     position: relative;
//  }
 
//  #heart-outline {
//     position: absolute;
//     top: -6px;
//     right: -16px;
//  }

 .heart-outline{
    position: absolute;
    top: -1vw;
    right: 19vw;
    // right: calc(46vw - 100px);
    font-size: 0.6em;
    --padding-start: 5px;
    --padding-end: 5px;
 }


 ion-icon#comment_ico {
    height: 1.8vh !important;
    margin-bottom: -0.2vh !important;
}
small.com_like_count {
    font-size: 9px;
}

ion-badge.fs-8.heart-outline.ion-color.ion-color-primary.ios.hydrated {
    border: solid 1px #ffffff !important;
}