<ion-header>
  <ion-toolbar>
    <ion-col size="6" routerLink="/links/settings">
      <ion-icon name="chevron-back-outline" class="fs-20" color="medium"></ion-icon>
    </ion-col>

    <ion-row slot="end">
      <ion-note class="poppins-bold" color="dark"> Account </ion-note> &nbsp; &nbsp;
      <!-- <ion-icon color="dark" class="fs-14" name="cog-outline"></ion-icon>  -->
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="fs-13">
    <ion-col size="12">
      <ion-card>
        <ion-list lines="none" class="mt-4">
          <ion-item routerLink="/user-profile">
            <ion-label slot="start"> Personal Details </ion-label>
            <!-- <hr>
            <ion-note slot="">
              
            </ion-note> -->
          </ion-item>

          <ion-item routerLink="/address-settings">
            <ion-label> Address Details </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-col size="12"></ion-col>

  <ion-col size="12">
    <ion-card>
      <ion-list lines="none">
        <ion-item>
          <ion-label class="font-weight-bold"> Deactivate Account </ion-label>
          <ion-icon color="danger" slot="end" name="trash"></ion-icon>        
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-col>
</ion-content>