
ion-icon.create_post_ico.md.icon-large {
    /* font-size: 5em !important; */
    width: 3.5vh;
    margin-bottom: -1.5vh;
}


ion-label.ion-float-right.poppins-bold.ion-text-right.create_post_ico_holder{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
}