<ion-content>
  <ion-grid class="ion-align-items-center">
    <ion-row style="margin-top: 10vh;">
      <ion-col size="12" class="ion-text-center ion-align-items-center">
        <ion-note color="dark" class="ion-text-center poppins-bold fs-20">alma-mata&nbsp;
          <ion-icon color="primary" class="ion-text-center poppins-extra-bold name-tag-icon " [src]="'../../../assets/icon/circle-button-thick-outline.svg'">
          </ion-icon>
        </ion-note>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 30vh;" class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-note color="dark" class="ion-text-center poppins-bold fs-12">Welcome back</ion-note>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <!-- <ion-avatar  class="ion-text-center">
          <ion-img  class="ion-text-center" [src]="'../../../assets/images/me.jpg'"></ion-img>
        </ion-avatar> -->
        <br>
        <img class="round-avatar" src='../../../assets/images/me.jpg'>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ion-align-items-center">
      <ion-col size="12" class="ion-no-padding">
        <ion-note color="dark" class="ion-text-center poppins-bold fs-12">Alfred</ion-note>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ion-align-items-center">
      <ion-col size="12">
        <br>
        <ion-icon class="fs-25" name="finger-print-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ion-align-items-center" style="margin-top: 1vh;">
      <ion-col size="12">
        <ion-label (click)="login()" class="ion-text-center poppins-regular fs-12">Not you?</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>