
<google-map *ngIf="mapsLoaded" apiKey="apiKey" [height]="'100vh'"></google-map>

<!-- <agm-map [latitude]="center.lat" [longitude]="center.lng" >
  <agm-marker  *ngIf="user" [latitude]="userMarker.lat" [longitude]="userMarker.lng" [iconUrl]="userMarker.iconUrl"
    [visible]="userMarker.visible" [markerClickable]="true" [animation]="'DROP'">
    <agm-info-window>
      You are currently at:
      {{address}}
    </agm-info-window>
  </agm-marker>

  <agm-marker *ngIf="school" [latitude]="schoolMarker.lat" [longitude]="schoolMarker.lng" [iconUrl]="schoolMarker.iconUrl"
    [visible]="schoolMarker.visible" [markerClickable]="true" [animation]="'BOUNCE'">
    <agm-info-window [title]="schoolMarker.title" >

      
    </agm-info-window>
  </agm-marker>

  <agm-polyline [editable]="false" (lineMouseUp)="lineClicked($event)" [strokeOpacity]="0.5">
    <agm-polyline-point [latitude]="userMarker.lat" [longitude]="userMarker.lng" ></agm-polyline-point>
    <agm-polyline-point [latitude]="schoolMarker.lat" [longitude]="schoolMarker.lng"></agm-polyline-point>
  </agm-polyline>


</agm-map> -->