<!-- <google-map
   height="100%"
   width="100%"
   [zoom]="zoom"
   [center]="center"
   [options]="options"
   (centerChanged)="centerChanged(_$)">

   <map-marker
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
  >
  </map-marker>
</google-map> -->


<agm-map >
  <agm-marker [latitude]="userMarker.lat" [longitude]="userMarker.lng" [iconUrl]="userMarker.iconUrl"
    [visible]="userMarker.visible" [markerClickable]="true">
    <agm-info-window>
      You are currently at:
      {{address}}
    </agm-info-window>
  </agm-marker>

  <agm-marker [latitude]="schoolMarker.lat" [longitude]="schoolMarker.lng" [iconUrl]="schoolMarker.iconUrl"
    [visible]="schoolMarker.visible" [markerClickable]="true">
    <agm-info-window [title]="schoolMarker.title" >

      My info window
    </agm-info-window>
  </agm-marker>

  <agm-polyline [editable]="false" (lineMouseUp)="lineClicked($event)" [strokeOpacity]="0.5">
    <agm-polyline-point [latitude]="userMarker.lat" [longitude]="userMarker.lng" ></agm-polyline-point>
    <agm-polyline-point [latitude]="schoolMarker.lat" [longitude]="schoolMarker.lng"></agm-polyline-point>
  </agm-polyline>


</agm-map>