<div class="video-player-wrapper" *ngIf="items?.length>0">
  <vg-player (onPlayerReady)="videoPlayerInit($event)" style="max-height: 50vh !important">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-fullscreen></vg-fullscreen>  
    </vg-controls>

    <video #media [vgMedia]="media"  id="singleVideo" preload="auto" crossorigin>
      <source [src]="currentVideo?.src" [type]="currentVideo?.type">
    </video>
  </vg-player>
  <ion-slides pager="false" [options]="slideOpts" style="z-index: 2;background: #000000bf;" *ngIf="items?.length>1">
    <ion-slide *ngFor="let item of items; let i = index;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-no-padding ion-no-margin image-container " style="height: 100%; width: 100%"
            [background-image]="itemPhotos[i]" [style.background-color]="'ffffff5c'"
             (click)="startPlaylistVdo(i)">
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
     
    </ion-slide>
  </ion-slides>

</div>