<ion-app>

  <app-notifications></app-notifications>

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" menuId="side-menu" type="overlay">
      <ion-content>
        <div class="side_pf">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img [src]="identityPhoto?.profile?.fileUrl">
            </ion-avatar>
            <ion-label>
              {{user?.firstName||'user'}}!
              <p>{{user?.email || 'anony@almamata.com'}}</p>
            </ion-label>
          </ion-item>
        </div>
      
        <ion-list id="inbox-list" *ngIf="checkAuthentication()">
          <!-- <ion-list-header>Inbox</ion-list-header>-->
          <!-- <ion-note>Welcome, {{user?.firstName||'user'}}! </ion-note> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url, p.params]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <!-- <ion-icon size="large" *ngIf="p.svg" src="{{p.icon}}"></ion-icon>
              <svg *ngIf="!p.svg" class="custom-icons right_slid_ico"><use [attr.xlink:href]="p.icon"></use></svg> -->
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header *ngIf="checkAuthentication()">Other</ion-list-header>
          <!-- <ion-note>hi@ionicframework.com</ion-note> -->

          <ion-note *ngIf="!checkAuthentication()">Welcome, user! </ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of otherPages; let i = index">
            <ion-item (click)="selectedIndex = i+3" routerDirection="root" [routerLink]="[p.url, p.params]" lines="none"
              detail="false" [class.selected]="selectedIndex == i+3">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <!-- <ion-icon size="large" *ngIf="p.svg" src="{{p.icon}}" class="right_slid_ico"></ion-icon>
              <svg *ngIf="!p.svg" class="custom-icons right_slid_ico"><use [attr.xlink:href]="p.icon"></use></svg> -->
              <ion-label class="ion-no-margin">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

</ion-app>