.card-header-bg {
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100vw;
    height: 35vh;
    min-height: 250px;
}

ion-avatar {
    width: 80px;
    height: 80px;
    background: white;
    text-align: center;
    z-index: 4;
    margin-top: 50px;
    color: white;
    margin-left: calc(50% - 40px);

    img {
        width: 80px;
        height: 80px;
    }
}

.backdrop {
    top: 0;
    position: absolute;
    z-index: 1;
    background: rgba($color: black, $alpha: .4);
}

.main {
    // margin-top: -30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: none;
    z-index: 4;
}

.bio {
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

.fixed-profile-menu-atop {
    position: fixed !important;
    z-index: 10001 !important;
    background: white !important;
    width: 100% !important;
    margin-top: -260px !important;
    padding-top: 10px !important;
    height: 38px !important;

}

.menu-col {
    margin-top: -16px  !important;
    margin-bottom: 8px;
    padding-top: 6px  !important;
    background: var(--ion-color-medium)  !important;
}

.min-menu {
    color: var(--ion-color-light);
}

.tag {
    position: absolute !important;
    width: 100% !important;
    z-index: 10;
    background: transparent;
    padding: 0 !important;
    margin: 0 !important;
    padding-top: 8px !important;
    padding-right: 5px !important;
    color: white !important;
}