<ion-header>
  <!-- Page header -->
  <ion-row class="top-row-header ion-no-padding ">
    <ion-col size="12" class="ion-no-padding ">
      <ion-item class="ion-no-padding">
        <ion-label slot="end" class="ion-float-right fs-13 poppins-bold ion-text-right"> Compose a Post </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-header>

<!-- Top correction -->
<ion-row class="ion-content-top_correction"></ion-row>
<!-- Top correction ends -->


<ion-content>
  <ion-segment [(ngModel)]="galleryType" color="primary">
    <ion-segment-button value="cloud">
      My Photos
    </ion-segment-button>
    <ion-segment-button value="local">
      Device Gallery
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="galleryType">
    <ion-grid *ngSwitchCase="'cloud'" id="cloud">
      <ion-row>
        <ion-col class="col-6 col-md-4 col-xl-3 px-1" *ngFor="let image of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
          <div class="image-container" [style.background-image]="'url(https://via.placeholder.com/200)'"></div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngSwitchCase="'local'" id="device">
      <ion-list>
        <ion-item class="my-4" lines="none" *ngFor="let audio of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
          <div class="audio-main row">
            <div class="audio-icon" (click)="togglePlay(playpause, progress)">
              <ion-icon name="play" #playpause style="width: 100%; height: 100%; transform: scale(.5);"></ion-icon>
              <!-- <ion-icon name="pause" style="width: 100%; height: 100%; transform: scale(.6);"></ion-icon> -->
            </div>
            <div class="audio-details">
              <p class="audio-details-title my-0" > white_noise_sample.mp3 </p>
              <!-- <p class="audio-detials-text"> Duration: 4:32 Size: 3 MB </p> -->
              <ion-range color="primary" pin="true" pin="false" class="mt-0" #progress></ion-range>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <!-- <ion-col class="col-6 col-md-4 col-xl-3 px-1" *ngFor="let image of [1,1,1]">
          <div class="image-container" [style.background-image]="'url(https://via.placeholder.com/200)'"></div>
        </ion-col>
 
        <ion-col class="col-6 col-md-4 col-xl-3 px-1">
          <div class="image-container add-container">
            <ion-icon name="add-circle" size="large" class="add-btn"></ion-icon>
          </div>
        </ion-col> -->
    </ion-grid>

    <ion-segment class="mt-1">
      <ion-item>
        <ion-label position="stacked"> What's on your mind? </ion-label>
        <ion-textarea rows="3" maxlength="2000"></ion-textarea>
      </ion-item>
    </ion-segment>

    <ion-button expand="block" class="mt-4 mx-2">
      Post &nbsp; <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>

  </div>

</ion-content>