.image-container {
    min-height: 130px;
    height: 200px;
    background-size: cover;
}

.add-container {
    width: 100%;
    height: 100%;
    // background-color: turquoise;
}

#cloud,
#device {
    min-height: 200px;
    height: 52vh;
    overflow-y: scroll;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.add-btn {
    width: 100%;
    height: 50px;
    padding-top: calc(50% - 25px);
    color: #ccc;
    margin: auto;
    // border: 2px solid red;
}

.audio-main {
    border: 1px solid #424242;
    height: 90px;
    width: 100%;
    margin: 0 auto;
}

.audio-icon {
    height: 100%;
    width: 25%;
    // border: 1px solid black;
    margin: 0;
    color: white;
    background: #424242;
}

.audio-details {
    height: 100%;
    margin: 0;
    width: 75%;
    padding: 5px 10px;
    display: inline-block;
}

.audio-details>p {
    margin: 0;
}