<ion-row class="ion-no-padding ion-padding-bottom">
  <ion-col size="12" class="ion-no-padding">
      <ion-item lines="none" class="ion-align-items-center">
          <ion-row slot="start" style="height:30px">
              <ion-avatar class="ion-padding-end" style="width: 45px;
              height: 30px;">
                  <img src="../../../assets/images/me.jpg">
              </ion-avatar>
              <ion-note color="dark" class="poppins-semi-bold fs-14 " style=" margin-top: 5px">Jennifer
              </ion-note>
          </ion-row>
          <!-- <img [src]="'../../../assets/images/me.jpg'"  style="width: 35px !important;
          height: 35px !important;
          padding: 5px;" class="round-avatar"> -->



          <ion-label slot="end" class="fs-10 ion-text-right">2 seconds ago</ion-label>
      </ion-item>
  </ion-col>
  <ion-col size="12" class="ion-no-padding ion-padding-end ion-padding-start">
      <ion-card class=" ion-align-items-center">
          <ion-row class="ion-no-padding" style="margin-top: -50px;">
              <ion-item lines="none">
                  <ion-note slot="start" color="white" class="poppins-bold fs-12"
                      style="text-shadow: 0px 0px 3px black !important;color: white;">
                      @Kumasi
                  </ion-note>
                  <ion-row slot="end" class="avatar-group ion-align-items-end ion-text-right">
                      <ion-avatar class="avatar-group-img avatar-count-icon" color="secondary">+2</ion-avatar>
                  </ion-row>
              </ion-item>
          </ion-row>
          <ion-card-content class="fs-12" style="z-index: 1000; padding-top: 12px; padding-bottom: 0;">
              <ion-note class="fs-12">
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </ion-note>
              <ion-row>
                  <ion-col class="ion-no-padding" size="12">
                      <hr style="background: #e8e9ed;">
                  </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding">
                  <ion-item lines="none" class="ion-no-padding">
                      <ion-row slot="start" class="ion-align-items-start ion-text-start fs-25 ion-no-padding">
                          <ion-icon name="heart-outline"></ion-icon> &nbsp;&nbsp;
                          <ion-icon name="share-social-outline"></ion-icon>
                      </ion-row>
                      <ion-row slot="end" class="fs-25 ion-no-padding">
                          <ion-icon name="bookmark-outline" style="margin-right: -20px;"></ion-icon>
                      </ion-row>
                  </ion-item>
              </ion-row>
          </ion-card-content>

      </ion-card>
  </ion-col>
</ion-row>