<div class="continer noti-main" >
  <div class="noti-dismiss" (click)="dismiss()">
    <ion-icon  *ngIf="!message?.file" name="close" size="medium" color="danger"></ion-icon>
    <ion-img *ngIf="message?.file" [src]="message?.file"></ion-img>
  </div>
  <div class="row">
    <div class="col-2" style="height:auto;">
      <ion-icon name="alert-outline" size="medium" class="noti-icon"></ion-icon>      
      <!-- <span class="fa fa-exclamation-circle fa-2x"></span> -->
    </div>
    <div class="col-10">
      <p class="noti-content text-bold mb-0"> 
        <b>{{message?.subject}}</b><br>
        {{message?.body}}
      </p>
    </div>
  </div>
</div>
