.noti-main {
    border: 1px solid rgba(0,0,0,.1);
    width: 90vw;
    margin: 0 auto;
    position: absolute;
    background: white;
    border-radius: 4px;
    top: 20px;
    left: 5vw;
    height: fit-content;
    max-height: 100px;
    z-index: 9999;
    box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.034), 
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
    0 12.5px 10px rgba(0, 0, 0, 0.06), 
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 
    0 100px 80px rgba(0, 0, 0, 0.12);
  }
  
  .noti-content {
    border: 15px solid rgba(0,0,0,0);
    border-right-width: 25px;
    height: auto;
    max-height: 100px;
    overflow-y: scroll;
  }

  .noti-dismiss {
    position: absolute;
    z-index: 10000;
    right: 5px;
    top: 5px;
  }

  .noti-icon {
    height: 100%;
    width: 100%;
    padding-left: 20px;
  }