<div class="continer noti-main" #noti>
  <div class="noti-dismiss" (click)="dismiss(noti)">
    <ion-icon name="close" size="medium" color="danger"></ion-icon>
  </div>
  <div class="row">
    <div class="col-2" style="height:auto;">
      <ion-icon name="alert-outline" size="medium" class="noti-icon"></ion-icon>      
      <!-- <span class="fa fa-exclamation-circle fa-2x"></span> -->
    </div>
    <div class="col-10">
      <p class="noti-content text-bold mb-0"> 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis id laudantium blanditiis asperiores fuga necessitatibus sit assumenda voluptatibus totam. Nulla inventore id cupiditate nisi pariatur rem maiores repudiandae impedit ullam.
      </p>
    </div>
  </div>
</div>
