<div class="continer noti-main">
  <div class="row">
    <div class="col-2">
      <span class="fa fa-exclamation-circle fa-2x"></span>
    </div>
    <div class="col-10">
      <p class="noti-content text-bold"> 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, rem. 
        Repudiandae, dignissimos? Omnis amet quas aliquam enim provident inventore, modi temporibus aut. 
        Minus magnam obcaecati corporis harum voluptatum sint ut. Do me like juju.
      </p>
    </div>
  </div>
</div>
