<ion-content>
  <ion-row class="top-row-header ion-no-padding " style="box-shadow: 0px 2px 4px -4px;">
    <ion-col size="12" class="ion-no-padding">
      <ion-item lines="none" class="fs-12 poppins-bold ion-no-padding ion-text-nowrap">
        <!-- <ion-row class="ion-row" (click)="goBack()" >
          <ion-icon class="fs-25" [src]="'../../../assets/icon/round-arrow_back.svg'"></ion-icon>&nbsp;&nbsp;
          <ion-note class="poppins-medium fs-12" color="black " style="margin-top: 4px;">{{previousPage}}</ion-note>
        </ion-row> -->
        <ion-row slot="end">
          <ion-note class="fs-112 poppins-bold" color="dark"> Settings</ion-note>&nbsp;&nbsp;
          <!-- <ion-icon color="dark" class="fs-14" name="cog-outline"></ion-icon>  -->
        </ion-row>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- Top correction -->
  <ion-row class="ion-content-top_correction">
  </ion-row>
  <!-- Top correction ends -->

  <ion-row class="feed-filter-container fs-13">
    <ion-col size="12">
      <ion-card>
        <ion-item-group>
          <ion-item lines="none">
            <ion-label class="fs-13">Allow feeds from my schools only?</ion-label>
            <ion-toggle [(ngModel)]="mySchoolOnlyFeed"></ion-toggle>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="fs-13">Flag announcements?</ion-label>
            <ion-toggle [(ngModel)]="flagAnnouncements"></ion-toggle>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="fs-13">Search my country only?</ion-label>
            <ion-toggle [(ngModel)]="countryOnly"></ion-toggle>
          </ion-item>
        </ion-item-group>
      </ion-card>


      <ion-col size="12"></ion-col>
      <ion-card>
        <ion-item-group>
          <ion-item lines="none" class="ion-activatable ripple-parent" [routerLink]="['/terms-of-service']" routerLinkActive="router-link-active" >
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            <ion-label slot="start" class="fs-13">Terms of service</ion-label>
            <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
          </ion-item>
          <ion-item lines="none" class="ion-activatable ripple-parent" [routerLink]="['/privacy']" routerLinkActive="router-link-active">
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            <ion-label slot="start" class="fs-13">Privacy policy</ion-label>
            <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
          </ion-item>
          <ion-item lines="none" class="ion-activatable ripple-parent" [routerLink]="['/about']" routerLinkActive="router-link-active">
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            <ion-label slot="start" class="fs-13">About</ion-label>
            <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
          </ion-item>
          <ion-item lines="none" class="ion-activatable ripple-parent" *ngIf="isAuthenticated()" (click)="logout()" >
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            <ion-label slot="start" class="fs-13">Log Out</ion-label>
            <svg class="custom-icons logout" slot="end"><use xlink:href="../../../assets/svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>
            <!-- <ion-icon slot="end" name="log-out-outline"></ion-icon> -->
          </ion-item>
        </ion-item-group>
      </ion-card>

      <!-- <ion-col size="12"></ion-col>
      <ion-card>
        <ion-item-group>
          <ion-item lines="none" class="ion-activatable ripple-parent">
            <ion-ripple-effect type="bounded"></ion-ripple-effect>
            <ion-label slot="start" class="fs-13 poppins-bold ion-text-wrap" color="danger"> Deactivate my account </ion-label>
            <ion-icon slot="end" name="close" color="danger"></ion-icon>          
          </ion-item>
        </ion-item-group>
      </ion-card> -->

    </ion-col>
  </ion-row>
</ion-content>