<ion-segment [(ngModel)]="galleryType" color="primary" class="pt-2">
  <ion-segment-button value="cloud">
    <ion-icon class="ion-no-margin" name="cloudy-outline" size="small"></ion-icon>
    <ion-row class="fs-10">M<span class="ion-text-lowercase">y photos</span></ion-row>
  </ion-segment-button>
  <ion-segment-button value="local">
    <ion-icon class="ion-no-margin" name="phone-portrait-outline" size="small"></ion-icon>
    <ion-row class="fs-10">D<span class="ion-text-lowercase">evice gallery</span></ion-row>
  </ion-segment-button>
</ion-segment>
<div [ngSwitch]="galleryType">
  <ion-grid *ngSwitchCase="'cloud'" id="cloud">
    <ion-row>
      <ion-col class="col-6 col-md-4 col-xl-3 px-1" *ngFor="let ph of cloudPhotos">
        <app-photo-thumbnail [thumb]='ph' (delete)="deleteFromCloudPhotos(ph)" 
        (isSelected)="selectFromCloudPhotos($event)" [location]="'cloud'"> </app-photo-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngSwitchCase="'local'" id="device">
    <ion-row class="col-12 add-btn-row">
      <ion-col class="col-6 col-md-4 col-xl-3 ion-no-padding">
        <div class="" (click)="selectPhoto()">
          <ion-icon name="folder-open-outline" size="small" class="add-btn"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="col-6 col-md-4 col-xl-3 ion-no-padding">
        <div class="" (click)="takePhoto()">
          <ion-icon name="camera-outline" size="small" class="add-btn"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="image-container-row">
      <ion-col class="col-6 col-md-4 col-xl-3 px-1" *ngFor="let image of devicePhotos">
        <app-photo-thumbnail [thumb]='image' (delete)="deleteFromDevicePhotos(image)"  [location]="'local'"> </app-photo-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-button expand="block" class="mt-4 mx-2">
  Post &nbsp; <ion-icon name="arrow-forward"></ion-icon>
</ion-button> -->
</div>