.play-button {
    height: 45px;
    width: 45px;
    box-shadow: none;
    margin-left: 33%;
    --border-style: solid;
    --border-width: 0px;
    --background-hover-opacity: 50%;
    --background-hover: red;
    --background: #ffffffa6;
    --box-shadow: none;
    --color: light;
    color: white !important;
}