<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  
      <ion-row slot="end" class="fs-12 poppins-bold ion-no-padding ion-text-nowrap">
        <ion-note class="fs-112 poppins-bold" color="dark">{{school?.name}} </ion-note>&nbsp;&nbsp;
        <!-- <ion-icon color="dark" class="fs-14" name="cog-outline"></ion-icon>  -->
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <!-- Top correction -->
  <!-- <ion-row class="ion-content-top_correction">
  </ion-row> -->
  <!-- Top correction ends -->
  <app-map  [User]="user" [School]="school" [SchoolIdentityPhoto]="schoolIdentityPhoto"></app-map>

</ion-content>