
// .correct-bottom {
//   padding-bottom: 100px;
// }

ion-item {
  width: 100%;
  height: auto;
}

// .social {
//   padding-left: 10%;
//   padding-right: 10%;
// }


// .text-center {
//   p {
//     margin: 0px;
//   }
// }



// p {
//   padding: 0px;
// }

// .text-center {
//   p {
//     margin: 0px;
//   }
// }

// p {
//   padding: 0px;
//   margin: 0;
// }


form {
  margin-top: 4vh !important;
}


// .google-button {

//   button {
//     background: #902b22 !important;
//     margin: 0;
//     padding: 0;
//     margin-top: 5px;
//   }

// }

ion-router-outlet {
  margin-top: 0px !important;
}
