<ion-header>
  <ion-toolbar>
    <ion-col size="6" routerLink="/links/settings">
      <ion-icon name="chevron-back-outline" class="fs-20" color="medium"></ion-icon>
    </ion-col>

    <ion-row slot="end">
      <ion-note class="poppins-bold" color="dark"> Help &amp; Support </ion-note> &nbsp; &nbsp;
      <!-- <ion-icon color="dark" class="fs-14" name="cog-outline"></ion-icon>  -->
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="feed-filter-container fs-13">
    <ion-col size="12">
      <ion-card>
        <ion-list lines="none" class="">
          <ion-item routerLink="">
            <ion-label> FAQ (Facts, Answers &amp; Questions) </ion-label>
          </ion-item>

          <ion-item routerLink="">
            <ion-label> Suggestions &amp; Improvements </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
