.my-backdrop {
    // background: #00000073;
    width: 100%;
    height: 100vh;
    position: absolute;
  }
  
  .content-container {
    position: absolute;
    margin-left: -2vw;
    background: white !important;
    padding-top: 1vh;
    
    ion-text {
    //   color: #3c3c3c;
      font-size: .9em;
    }
  
    p {
      width: 100vw;
      float: right;
      /* margin-right: 12px; */
      padding-right: 18px;
      padding-left: 53px;
      margin-top: -23px;
      ion-text {
        // color: #747474;
        // font-size: .8em;
      }
    }
  
  }
  
  .inner-container {
    height: 73%;
    width: 100vw !important;
    // position: absolute;
    overflow-y: scroll;
  }
  .inner-container-mini{
    height: 120px !important;
  }
  .inner-collapse{
    height: 0px !important;
  }
  
  ion-item {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  ion-list {
    width: 100%;
  }
  
  .send-btn {
    width: 100%;
    padding-left: 2%;
  
    ion-item {
    //   --background: #ececec;
      padding: 0;
      margin: 0;
      margin-left: -3px;
  
  
      ion-input {
        // margin-right: 16px;
      }
    }
  
    ion-icon {
      color: #3880ff;
      margin-right: 7px;
    }
  }
  
  ion-modal {
    --background: transparent;
  }

  app-like.comment_like{
    padding-left: 4vw;
}

ion-img#no_com {
  width: 85vh !important;
  margin-top: 30vh;
  position: fixed;
  margin-left: calc(-7vh - 4vw);
}
