<ion-row class="content-container " [ngClass]="{'h-100': showHeader, 'w-100': showHeader}" id="content-container">
  <ion-list *ngIf="showHeader">
    <ion-item>
      <ion-text class="fs-12" *ngIf="comments?.length>0">{{comments?.length}} Comments</ion-text>
      <ion-text *ngIf="comments?.length<=0" class="fs-12">No Comments</ion-text>
      <ion-icon name="close-circle-outline" slot="end" (click)="close()"
        style="margin: 0px;  margin-top: -12px; color: #8e8e8e;">
      </ion-icon>
    </ion-item>
  </ion-list>
  <ion-col size="12" class="inner-container ion-no-padding"
    [ngClass]="{'inner-container-mini': !showHeader, 'inner-collapse': (!showHeader&&comments?.length<1)}"
    id="inner-container">
    <ion-row class="ion-no-padding pb-1 fs-12" *ngFor="let comment of comments; let i=index;">
      <!-- <ion-col size='2' class="ion-no-padding ">
        <ion-avatar class="" style="width: 45px;
        height: 30px;">
            <img [src]="creatorPhotoUrls[i]">
        </ion-avatar>
      </ion-col>
      <ion-col size='10' class="ion-no-padding ">
        <ion-text class="poppins-semi-bold ">{{getCommentUser(comment)?.firstName}}</ion-text>
        <p class="ion-no-margin">
          <ion-text>{{comment?.message}}</ion-text>
        </p>
      </ion-col> -->

      <ion-col size="12" class="ion-no-padding">
        <ion-item lines="none" class="ion-align-items-center" style="height: 40px;">
          <ion-row slot="start">
            <ion-avatar class="" style="
            width: 30px;
            height: 30px;
            padding: 0;
            border-radius: 1000px;
            border: solid thin #2125291f;
            margin-right: 2vw;" (click)="gotoProfile(getCommentUser(comment))">
              <img [src]="creatorPhotoUrls[i]">
            </ion-avatar>
            <ion-note>
              <span color="dark" class="poppins-semi-bold fs-12 ">{{getCommentUser(comment)?.firstName}}</span>
              <app-like class="comment_like"></app-like>
            </ion-note>
          </ion-row>
          <ion-label slot="end" class="fs-10 ion-text-right ion-no-margin ion-no-padding" style="padding-right: 2vw;">
            {{comment?.dateCreated | toEventTime}} </ion-label>
        </ion-item>
        <ion-col size="12">
          <p class="ion-no-margin fs-11" [innerHTML]="comment?.message |safeHtml">
          </p>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-col>
  <div class="send-btn">
    <ion-item lines="none">
      <ion-row slot="start" class="ion-no-padding ion-no-margin" style="width: 80%">
        <!-- <ngx-emoji style="background: transparent;" [emoji]="'grinning'" 
         size="24" set="apple" >
        </ngx-emoji> -->
        <ion-avatar (click)="toggleEmojiSheet()" style="
        margin-top: 9px;
        margin-right: 4px;
        z-index: 8;
        height: 27px;
        width: 26px;" class="ion-activatable ripple-parent">
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          <span>😀</span>
        </ion-avatar>
        <ion-input placeholder="  Write a comment" [(ngModel)]="comment.message"></ion-input>
      </ion-row>
      <ion-icon slot="end" name="send-outline" class="fs-20" (click)="send()"></ion-icon>
    </ion-item>
  </div>
</ion-row>