<ion-content >
  <!-- Page header -->
  <ion-row class="top-row-header ion-no-padding ">
    <ion-col size="12" class="ion-no-padding ">
      <ion-item class="ion-no-padding">
        <ion-row class="ion-row">
          <ion-label class="fs-13 pl-2 poppins" *ngIf="isAuthenticated()"> Welcome, &nbsp; </ion-label>
          <ion-text class="fs-13 pl-2 poppins" *ngIf="isAuthenticated()"> N/A </ion-text>

          <ion-label class="fs-13 pl-2 poppins" *ngIf="!isAuthenticated()" (click)="gotoLogin()">Log In</ion-label>

        </ion-row>
        <!-- <ion-icon slot="end" name="reorder-three-outline" *ngIf="isAuthenticated()"></ion-icon> -->
        <ion-label slot="end" class="ion-float-right fs-13 poppins-bold ion-text-right"> Home </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- Page header ends -->


  <!-- Top correction -->
  <ion-row class="ion-content-top_correction">
  </ion-row>
  <!-- Top correction ends -->



  <!-- <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <app-trending></app-trending>
    </ion-col>
  </ion-row> -->

  
  <ion-row class="mt-1">
    <ion-col size="12" class="ion-no-padding">
      <app-post-widget1 *ngFor="let x of [0,0,0,0,0,0]"></app-post-widget1>
    </ion-col>
  </ion-row>

</ion-content>