/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* custom css ***/
// @import "~animate.css/animate.css";
@import "~@ctrl/ngx-emoji-mart/picker.css";


ion-item {
    --background: transparent !important;
    width: 100%;
}

ion-card {
    padding: 0;
    margin: 0;
    // box-shadow: 0px 3px 8px -5px;
    box-shadow: 0px 3px 10px -7px;
    border-radius: 0 !important;
    --border-radius: 0 !important;
}

ion-select {
    color: var(--ion-color-medium) !important;

    ion-select-option {
        color: var(--ion-color-medium) !important;

    }
}

ion-label {
    color: var(--ion-color-medium) !important;
}


.ion-content-top_correction {
    margin-top: 41px !important;
}

.top-row-header {
    position: fixed !important;
    width: 100% !important;
    z-index: 1004 !important;
    background: white;

    ion-item {

        // width: 108% !important;
        // margin-left: -6% !important;
        // margin-top: -6px !important;
        .ion-row {
            padding-left: 6px !important;
        }
    }
}


.poppins-regular {
    --ion-font-family: 'Poppins-regular' !important;
}

.poppins-bold {
    --ion-font-family: 'Poppins-bold' !important;
}

.poppins-extra-bold {
    --ion-font-family: 'Poppins-extra-bold' !important;
}

.poppins-medium {
    --ion-font-family: 'Poppins-medium' !important;
}

.poppins-semi-bold {
    --ion-font-family: 'Poppins-semi-bold' !important;
    font-weight: bold;
}

.hind-regular {
    --ion-font-family: 'Hind-regular' !important;
}

.sf-bold {
    --ion-font-family: 'SF-Pro-Display-Bold' !important;
}

.sf-regular {
    --ion-font-family: 'SF-Pro-Display-Regular' !important;
}

.sf-text-regular {
    --ion-font-family: 'SF-Pro-Text-Regular' !important;
}


.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-37 {
    font-size: 37px !important;
}

.fs-40 {
    font-size: 40px !important;
}

.fc-primary {
    color: var(--ion-color-primary)
}


.mt-1 {
    margin-top: 1vh !important;
}

.mt-2 {
    margin-top: 2vh !important;
}

.mt-5 {
    margin-top: 5vh !important;
}

.mt-10 {
    margin-top: 10vh !important;
}

.mt-13-px {
    margin-top: 13px !important;
}

.br-10 {
    --border-radius: 10% !important;
}

/**text colors**/
.text-shadow {
    text-shadow: 0px 0px 3px black !important;
}

.round-avatar {
    border-radius: 50% !important;
    width: 75px !important;
    height: 75px !important;
}

.name-tag-icon {
    margin-bottom: -0.2vh;
    font-size: 14px !important;
    font-weight: bolder;
}

// .card-header-bg {
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 60vh;
// }

.curve-img {
    border-radius: 5% !important;
    height: 100px;
    width: 100%;
    box-shadow: 0px 0px 1px 0px;
}



/**Styling form inputs**/
.input-w-icon {
    border-bottom: inset thin;
    // margin-right: -30px;
}

.input-w-image {
    padding-left: 10vw !important;
}

.input-icon {
    margin-right: -20px
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}

.ion-activated {
    //  background: var(--ion-color-primary) !important;
    //  opacity: 0.05;
}

// ion-datetime {
.datetime-text {
    background: #9f9f9f47 !important;
    // --background: var(--ion-color-light-shade) !important;
}


// }



/****Styling popovers*************/
.filter-feed .popover-content {
    position: absolute !important;
    top: 37px !important;
    left: auto !important;
    right: 18px !important;
    box-shadow: 0px 3px 10px -7px;
}

ion-content {
    animation: fadeIn;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: .5s;
    /* don't forget to set a duration! */
}


/***** Styling post widgets***************/
.image-container {
    min-height: 130px;
    height: 200px;
    background-size: cover;
}

.image-container-row {
    margin-top: 44px;
    padding-bottom: 3px;
}

.add-container {
    width: 100%;
    height: 100%;
    // background-color: turquoise;
}

#cloud,
#device {
    min-height: 200px;
    height: 50vh;
    overflow-y: scroll;
    border-bottom: 1px solid var(--ion-color-light-tint);
}

.add-btn {
    width: 100%;
    height: 50px;
    // padding-top: calc(10% - 10px);
    color: var(--ion-color-light-shade);
    margin: auto;
    // border: 2px solid red;
}

.add-btn-row {
    position: absolute;
    margin-top: -6px;
    z-index: 1;
    padding: 0;
    background: var(--ion-color-light);
    padding: 0;
    width: 100%;
    border-top: 1px solid #00000017;
    padding-top: 2px;
    margin-left: -9px;
}

ion-segment-button {
    --color: var(--ion-color-medium-shade);
    --color-checked: var(--primary);
    --indicator-height: .6px
}

ion-segment {
    z-index: 2;
}

.fint-line-under {
    border-bottom: 1px solid var(--ion-color-light-shade);
}

.thumbnailClose {
    --border-width: 0px;
    // position: absolute;
    // float: right;
    // margin-left: calc(34vw - 20px);
    right: 3vw;
    position: absolute;
}

.thumbnailPlay {
    --border-width: 0px;
    position: absolute;
    margin-top: 47%;
    right: 16vw;
    font-size: large;
    font-weight: bold;
    // background: #00000017;
    background: var(--ion-color-tertiary-tint);
    border-radius: 1000px;
}

.thumbnail-selected {
    border: 4px solid;
    border-color: var(--ion-color-primary-tint);
}


// Social action sheet 
//social sharing buttons
ion-backdrop {
    --backdrop-opacity: 0.6 !important;
}

.action-sheet-group {
    .action-sheet-button.action-facebook {
        background-color: #3B5998 !important;
        --color: white !important;
        color: white !important;
    }

    button.action-twitter {
        background-color: #1DA1F2 !important;
        --color: white !important;
        color: white !important;

    }

    button.action-instagram {
        --color: white !important;
        color: white !important;
        background: #f09433;
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
        background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1) !important;
    }

    button.action-whatsup {
        background-color: #128C7E !important;
        --color: white !important;
        color: white !important;

    }

    button.action-regular {
        background-color: var(--ion-color-dark) !important;
        --color: white !important;
        color: white !important;

    }

    padding: 0 !important;

}


.emoji-style {
    height: 58vh !important;
    margin-top: 51vh !important;

    app-emoji-modal {
        height: 48vh !important;
    }

    ion-backdrop {
        --backdrop-opacity: 0.3 !important;
        height: 100%;
        margin-top: 60vh;
    }

    .emoji-mart {
        width: 100% !important;
    }

    .emoji-mart-preview {
        display: none
    }

    .emoji-mart-scroll {
        // height: 34vh !important;
    }

    .emoji-mart-search {
        display: none;
    }

    .modal-wrapper,
    .ion-overlay-wrapper {
        --background: transparent !important;
        height: 100%;
        margin-top: 0vh;
    }


    /// Menu manipulation
   
}



svg.custom-icons {
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
}

svg.active {
    height: 30px;
    width: 30px;
}


.center-icons {
    padding-left: 35% !important;
}

.center-icons svg.custom-icons {
    height: 25vw !important;
    width: 15vw !important;
    // fill: currentColor;
}

.side_pf {
    background-color: var(--ion-color-medium);
    // padding-top: 5vw;
    // margin-left: -5em;
    // padding-left: 5em;
    // margin-right: -5em;
    // padding-right: 5em;
    padding-top: 11vw;
    margin-left: -5em;
    margin-top: -7vw;
    padding-left: 5em;
    margin-right: -5em;
    height: 35vw;
    padding-right: 5em;

    ion-label ,p{
        color:var(--ion-color-light) !important;
    }
}


ion-icon.ios.icon-medium.hydrated{
    font-size: 23px !important;
}
.record-modal-class{
    --height: 40vh;
    --width: 90%;
}