<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-row slot="end" class="fs-12 poppins-bold ion-no-padding ion-text-nowrap">
      <ion-note class="fs-112 poppins-bold" color="dark"> User Profile </ion-note>&nbsp;&nbsp;
      <!-- <ion-icon color="dark" class="fs-14" name="cog-outline"></ion-icon>  -->
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="mx-auto mt-5" style="width:80px; height:80px;" (click)="showChangeProfilePhoto()">
    <img [src]="identityPhoto?.profile?.fileUrl">
  </ion-avatar>
  <ion-item lines="none" class="mb-2">
    <ion-label class="text-center">
      <ion-icon name="create-outline" (click)="showChangeProfilePhoto()"></ion-icon> Edit
    </ion-label>
  </ion-item>

  <ion-list lines="">
    <ion-item><ion-label slot="start">Name</ion-label> <ion-input  class="faded fs-14 text-right" [(ngModel)]="user.FullName">
      </ion-input>
    </ion-item>
    <ion-item> Email Address <ion-input slot="end" class="faded fs-14 text-right" [(ngModel)]="user.email" disabled></ion-input>
    </ion-item>
    <ion-item> Phone Number <ion-input slot="end" type="tel" class="faded fs-14 text-right" [value]="user.phone"
        disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [value]="user?.gender" interface="popover" [(ngModel)]="user.gender">
        <ion-select-option [value]="'male'" >Male</ion-select-option>
        <ion-select-option [value]="'female'">Female</ion-select-option>
        <ion-select-option [value]="'other'">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Date of Birth</ion-label>
      <ion-datetime displayFormat="DD MM YYYY" [(ngModel)]="user.dateOfBirth"></ion-datetime>
    </ion-item>
    <!-- <ion-item> Gender <ion-input slot="end" class="faded fs-14 text-right" [(ngModel)]="user.gender"></ion-input></ion-item> -->
    <!-- <ion-item> Date of Birth <ion-input slot="end" class="faded fs-14 text-right" [(ngModel)]="user.dateOfBirth"></ion-input></ion-item> -->
  </ion-list>

  <!-- <ion-list lines="">
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select value="" interface="popover" [(ngModel)]="userAddress.country">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>State</ion-label>
      <ion-select value="" interface="popover" [(ngModel)]="userAddress.state">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item> City <ion-input slot="end" class="faded fs-14 text-right" [(ngModel)]="userAddress.city"></ion-input>
    </ion-item>
    <ion-item *ngIf="userAddress.city"> Suburb (Optional) <ion-input slot="end" class="faded fs-14 text-right"
        [(ngModel)]="userAddress.suburb"></ion-input>
    </ion-item>
    <ion-item *ngIf="userAddress.suburb"> Street (Optional) <ion-input slot="end" class="faded fs-14 text-right"
        [(ngModel)]="userAddress.street"></ion-input>
    </ion-item>
    <ion-item> Postal Code <ion-input slot="end" class="faded fs-14 text-right" [(ngModel)]="userAddress.postcode">
      </ion-input>
    </ion-item>
  </ion-list> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" type="submit" (click)="updateUserInfo()">
    <ion-fab-button color="primary">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>